$allied_red: #DA291C;
$allied_red_l: #FF6147;
$allied_red_d: #9E0000;

$allied_blue: #00BBDC;
$allied_blue_l: #63EEFF;
$allied_blue_d: #008BAA;

$allied_green: #8DC63F;
$allied_green_l: #C0F970;
$allied_green_d: #5B9500;

$allied_orange: #F2A900;
$allied_orange_l: #FFDA4A;
$allied_orange_d: #BA7A00;

$allied_black: #000000;
$allied_black_l: #2c2c2c;
$allied_black_overlay: rgba(0, 0, 0, 0.8);

$allied_support_gray: #979797;
$allied_support_gray_l: #e4e4e4;
$allied_background_gray_l: #f4f4f4;

$allied_white: rgba(255, 255, 255, 1);
$allied_white_overlay: rgba(255, 255, 255, 0.9);

$allied_transparent: rgba(255, 255, 255, 0);

$allied_box_shadow: rgba(0, 0, 0, 0.3);


$allied_font: 'Lato', Verdana, Arial, Helvetica, sans-serif;