/*New DS42 Colors*/
hr {
  border: none;
  height: 1px;
  color: #002E45;
  background-color: #002E45;
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  margin: 0px;
  font-family: "Lato", Verdana, Arial, Helvetica, sans-serif;
}

p {
  line-height: 28px;
  font-size: 16px;
  font-weight: 300;
}

img.nav-logo {
  opacity: 0.9;
}

.standard-bold {
  font-weight: 600;
}

::-moz-selection {
  background: #a04177;
  color: #ffffff;
}

::selection {
  background: #a04177;
  color: #ffffff;
}

a:link {
  color: #a04177;
  text-decoration: none;
}

a:visited {
  color: #a04177;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-effect a:link {
  color: #799DB6;
  text-decoration: none;
}

.nav-effect a:visited {
  color: #799DB6;
  text-decoration: none;
}

.nav-effect a:hover {
  text-decoration: none;
}

h1 {
  font-size: 44px;
  font-weight: 300;
}

h2 {
  font-size: 26px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 9px;
}

h4 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0px;
}

ul {
  font-family: "Lato", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

li {
  margin-bottom: 15px;
}

ol {
  font-family: "Lato", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/*Allied Typography*/
.allied-h1 {
  font-size: 25px;
  line-height: 24px;
}

.allied-h2 {
  font-size: 22px;
  line-height: 24px;
}

.allied-h3 {
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
}

.allied-p {
  font-size: 16px;
  line-height: 22px;
}

.allied-a {
  font-size: 14px;
}

.ds42-main-grid {
  display: -ms-grid;
  display: grid;
  font-family: "lato", verdana, arial, san-serif;
  -ms-grid-columns: 313px 1fr;
      grid-template-columns: 313px 1fr;
      grid-template-areas: "nav body";
}

.green-gradient {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#007758), color-stop(#0a805e), color-stop(#148865), color-stop(#1c916b), color-stop(#249a72), color-stop(#39a675), color-stop(#4cb177), color-stop(#5fbd79), color-stop(#83cd76), color-stop(#a8dd72), color-stop(#cfeb70), to(#f9f871));
  background-image: linear-gradient(to right top, #007758, #0a805e, #148865, #1c916b, #249a72, #39a675, #4cb177, #5fbd79, #83cd76, #a8dd72, #cfeb70, #f9f871);
}

.red-gradient {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#792632), color-stop(#7f2837), color-stop(#852b3c), color-stop(#8a2d41), color-stop(#903046), color-stop(#96324b), color-stop(#9b3550), color-stop(#a13755), color-stop(#a8395b), color-stop(#af3b61), color-stop(#b63d67), to(#bd3f6e));
  background-image: linear-gradient(to right top, #792632, #7f2837, #852b3c, #8a2d41, #903046, #96324b, #9b3550, #a13755, #a8395b, #af3b61, #b63d67, #bd3f6e);
}

.blue-gradient {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#001d2c), color-stop(#002434), color-stop(#002c3d), color-stop(#003445), color-stop(#003c4d), color-stop(#004454), color-stop(#004b5b), color-stop(#005361), color-stop(#005c67), color-stop(#00646c), color-stop(#006d71), to(#007674));
  background-image: linear-gradient(to right top, #001d2c, #002434, #002c3d, #003445, #003c4d, #004454, #004b5b, #005361, #005c67, #00646c, #006d71, #007674);
}

.purple-gradient {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#484166), color-stop(#624473), color-stop(#814479), color-stop(#a04177), to(#bd3f6e));
  background-image: linear-gradient(to right top, #484166, #624473, #814479, #a04177, #bd3f6e);
}

.orange-gradient {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#e4500a), color-stop(#ee7800), color-stop(#f39e00), color-stop(#f2c300), to(#ebe712));
  background-image: linear-gradient(to right top, #e4500a, #ee7800, #f39e00, #f2c300, #ebe712);
}

.yellow-gradient {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#f9f771), color-stop(#d6d459), color-stop(#b5b241), color-stop(#94912a), to(#747212));
  background-image: linear-gradient(to right top, #f9f771, #d6d459, #b5b241, #94912a, #747212);
}

.overview-image {
  mix-blend-mode: multiply;
}

/*Colors for Colors Page*/
.allied-red {
  background-color: #DA291C;
}

.allied-red-dark {
  background-color: #9E0000;
}

.allied-red-light {
  background-color: #FF6147;
}

.allied-support {
  background-color: #000000;
}

.allied-support-l {
  background-color: #2c2c2c;
}

.allied-orange {
  background-color: #F2A900;
}

.allied-orange-l {
  background-color: #FFDA4A;
}

.allied-orange-d {
  background-color: #BA7A00;
}

.allied-green {
  background-color: #8DC63F;
}

.allied-green-l {
  background-color: #C0F970;
}

.allied-green-d {
  background-color: #5B9500;
}

.allied-blue {
  background-color: #00BBDC;
}

.allied-blue-l {
  background-color: #63EEFF;
}

.allied-blue-d {
  background-color: #008BAA;
}

.allied-gray {
  background-color: #979797;
}

.allied-gray-l {
  background-color: #e4e4e4;
}

.allied-background-gray-l {
  background-color: #f4f4f4;
}

/* Start of the Nav */
#ds42-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  background-color: #001D2C;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
  position: fixed;
  height: 100vh;
  border-bottom: thin solid #f4f4f4;
  list-style-type: none;
}

nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav a {
  position: relative;
  display: block;
  margin-top: 1px;
  padding-top: 6px;
  padding-bottom: 9px;
  padding-left: 30px;
  width: 280px;
  outline: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 16px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.nav-effect a {
  overflow: hidden;
  height: 1em;
  border-left: solid 3px #001D2C;
}

.nav-effect a span {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.nav-effect a span::before {
  position: absolute;
  top: 25px;
  content: attr(data-hover);
  /*webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);*/
}

/*.nav-effect a:hover span,
.nav-effect a:focus span {
	-webkit-transform: translateY(-29px);
	-moz-transform: translateY(-29px);
	transform: translateY(-29px);
} */
.nav-effect a:hover {
  background-color: #002E45;
  color: #D0D0D0;
  border-left: solid 3px #94C5CC;
  padding-left: 33px;
  width: 277px;
  -webkit-transition: padding-left 0.2s ease-in-out, border-left 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: padding-left 0.2s ease-in-out, border-left 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.current {
  background-color: red;
  color: red;
}

.ds42-nav-title {
  font-size: 18px;
  font-weight: 300;
  color: #979797;
  margin: 10px 0px 10px 0px;
  padding-left: 30px;
}

.ds42-nav-category {
  font-size: 16px;
}

/* End of Nav */
.ds42-body {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: body;
}

.toggle {
  display: none;
}

/* START OF THE BODY GRID */
.page-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "pageoverview" "pagecontent";
}

.page-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pagecontent;
  padding: 100px;
}

.content-column-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 2%;
  margin-bottom: 85px;
}

.content-column-two img {
  width: 100%;
}

.two-col-left {
  margin-top: 10px;
  margin-bottom: 15px;
}

.two-col-right {
  margin-top: 10px;
  margin-bottom: 15px;
}

.content-three-column-even img {
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.content-three-column-even img:hover {
  -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.content-column-right {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "left right";
  -ms-grid-columns: minmax(min-content, 2fr) minmax(min-content, 1fr);
      grid-template-columns: minmax(-webkit-min-content, 2fr) minmax(-webkit-min-content, 1fr);
      grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 1fr);
  margin: 100px 0px;
  grid-column-gap: 2%;
}

.content-column-left {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "left right";
  -ms-grid-columns: minmax(min-content, 1fr) minmax(min-content, 2fr);
      grid-template-columns: minmax(-webkit-min-content, 1fr) minmax(-webkit-min-content, 2fr);
      grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 2fr);
  margin: 100px 0px;
  grid-column-gap: 2%;
}

.content-column-three {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "left middle right";
  -ms-grid-columns: minmax(min-content, 1fr) minmax(min-content, 2fr) minmax(min-content, 2fr);
      grid-template-columns: minmax(-webkit-min-content, 1fr) minmax(-webkit-min-content, 2fr) minmax(-webkit-min-content, 2fr);
      grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 2fr) minmax(min-content, 2fr);
  margin: 100px 0px;
  grid-column-gap: 2%;
}

.content-column-full {
  width: 100%;
  margin: 100px 0px;
}

.content-column-three img {
  width: 100%;
}

.content-column-left img {
  width: 100%;
}

.content-column-right img {
  width: 100%;
}

.page-title h1 {
  font-size: 24px;
  font-weight: normal;
  color: white;
  margin: 0;
}

.page-overview {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pageoverview;
  background-color: #f4f4f4;
  padding: 100px;
}

.page-overview h2 {
  font-size: 60px;
  color: #2c2c2c;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #ffffff;
}

.page-overview p {
  font-size: 16px;
  color: #2c2c2c;
  line-height: 32px;
  color: #ffffff;
}

.page-overview h2.black-text-overwrite {
  color: #2c2c2c;
}

.page-overview p.black-text-overwrite {
  color: #2c2c2c;
}

.page-overview .content-column-left:first-of-type {
  margin: 0;
}

.page-content .content-column-left:first-of-type {
  margin-top: 0px;
}

.align-top {
  margin-top: 0px;
}

.bottom-margin-zero {
  margin-bottom: 0px;
}

.color-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.color-data > * {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  padding-top: 10px;
}

.color-data p {
  margin-top: 0px;
}

.color-container {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1%;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.color-container > div {
  padding: 20px;
}

.color-container > div > p {
  margin: 0px;
}

.color-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  vertical-align: top;
  grid-column-gap: 2%;
}

.accent-color-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  vertical-align: top;
  grid-column-gap: 2%;
  grid-row-gap: 15px;
}

.accent-content {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.accent-content p {
  margin: 0;
}

.accent-variable {
  text-align: right;
}

.color-text-white {
  color: white;
  font-weight: 300;
}

.color-text-black {
  color: #000000;
  font-weight: 300;
}

.color-text-green {
  color: #8DC63F;
  font-weight: 300;
}

.color-text-orange {
  color: #F2A900;
  font-weight: 300;
}

.color-text-blue {
  color: #00BBDC;
  font-weight: 300;
}

.color-title {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 300;
}

.color-block p {
  color: #ffffff;
}

.copy-icon {
  margin-left: 8px;
  cursor: pointer;
}

p.color-specs {
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
}

span.white-icon-overwrite:before {
  color: #ffffff !important;
}

span.greyd-icon-overwrite:before {
  color: #74767A !important;
}

span.black-icon-overwrite:before {
  color: #000000 !important;
}

/*Four Column Layout Grid*/
.four-column-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 4%;
}

.overview-section-cta {
  padding: 20px;
  border: solid white 1px;
  border-radius: 2px;
}

.overview-section-cta img {
  width: 100%;
}

.overview-section-desc {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}

a,
div.overview-section-cta,
p,
h4 {
  text-decoration: none;
  color: #001D2C;
}

a .overview-section-cta:hover {
  border: solid #e4e4e4 1px;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.four-column-layout a:hover {
  text-decoration: none;
}

/* repeating grid layout with no grid gaps yo  */
.six-column-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-bottom: 60px;
}

.checkbox-states {
  display: inline-block;
  text-align: center;
  border: solid #e4e4e4 1px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*Horizontal Scroll Indicator*/
/* Style the header: fixed position (always stay at the top) */
.prog-bar {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: transparent;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: transparent;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
  background: -webkit-gradient(linear, left bottom, right top, from(#484166), color-stop(#624473), color-stop(#814479), color-stop(#a04177), to(#bd3f6e));
  background: linear-gradient(to right top, #484166, #624473, #814479, #a04177, #bd3f6e);
  width: 0%;
}

/*CodePen Edits*/
.cp_embed_wrapper {
  margin-bottom: 40px;
}

/* Form Fields Page */
.form-fields-margin {
  margin-top: 40px;
}

.remove-margin-bottom {
  margin-bottom: 0px;
}

.remove-margin-top {
  margin-top: 0px;
}

/*Icon Page Styles*/
.all-icons-cont {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  -ms-grid-rows: (minmax(100px, 1fr))[auto-fill];
      grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 2%;
}

.icons-wrapper {
  text-align: center;
}

.icons-wrapper p {
  margin-top: 5px;
}

.icons-wrapper:hover {
  cursor: pointer;
}

.icons-wrapper:hover > .icon-container {
  background-color: white;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
}

.icons-wrapper:hover > p {
  cursor: pointer;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
}

.icon-container {
  border-radius: 2px;
  background-color: #f4f4f4;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-container img {
  margin: auto;
}

img.icon {
  width: inherit;
  margin: 0 6px;
}

.typ-cont-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr;
  padding: 40px;
  background-color: #f4f4f4;
}

@media only screen and (max-width: 1400px) {
  .page-overview .content-column-left {
    display: -ms-grid;
    display: grid;
        grid-template-areas: inherit;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 100px 0px;
    grid-column-gap: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .ds42-main-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "nav" "body";
  }
  /*Allied Typography*/
  .allied-h1 {
    font-size: 20px;
    font-weight: bold;
    color: #2c2c2c;
    line-height: 22px;
  }
  .allied-h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .allied-h3 {
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
  }
  .allied-p {
    font-size: 13px;
    line-height: 20px;
  }
  .allied-a {
    color: #008BAA;
    text-decoration: none;
    font-size: 13px;
  }
  #ds42-nav {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    width: 310px;
    left: -340px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  #ds-42-nav::-webkit-scrollbar {
    display: none;
  }
  .toggle {
    display: inline-block;
    margin: 12px 0px 20px 12px;
  }
  #ds42-nav:target {
    -webkit-transform: translateX(340px);
            transform: translateX(340px);
  }
  .nav-lgo-padding {
    padding-top: 20px;
    padding-left: 15px;
  }
  .nav-close-icon {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
  }
  .content-three-column-even {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .content-column-left {
        grid-template-areas: "left" "right";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 50px 0px;
  }
  .content-column-right {
        grid-template-areas: "left" "right";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 50px 0px;
  }
  .content-column-three {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "left" "middle" "right";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 10px 0px;
  }
  .content-column-left img {
    width: 100%;
  }
  .content-column-right img {
    width: 100%;
  }
  .hide-on-mobile {
    display: none;
  }
  .page-overview {
    padding: 10px;
  }
  .page-content {
    padding: 10px;
  }
  .content-column-two {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .color-block {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .color-data {
    font-size: 12px;
  }
  .accent-color-block {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .accent-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .accent-variable {
    text-align: left;
  }
  img.icon {
    width: inherit;
    margin: 0 6px;
  }
}
/*# sourceMappingURL=ds-42.css.map */